<!-- Formulario de registro -->
<form action="/registro" method="POST">
    <label>Usuario</label>
    <input type="text" name="usuario" value="<%= typeof usuario != 'undefined' ? usuario : '' ;   %>"><br>
    <%if (typeof error !='undefined' && error.usuario != null ){%>
        <span><%= error.usuario %></span><br>
    <%}%>
    <label>Descripcion</label>
    <input type="text" name="descripcion" value="<%= typeof descripcion != 'undefined' ? descripcion : '' ;   %>"><br>
    <%if (typeof error !='undefined' && error.descripcion != null ){%>
        <span><%= error.descripcion %></span><br>
    <%}%>
    <label>Contraseña</label>
    <input type="password" name="password"><br>
    <%if (typeof error !='undefined' && error.password != null ){%>
        <span><%= error.password %></span><br>
    <%}%>
    <label>Confirmar Contraseña</label>
    <input type="password" name="passwordC"><br>
    <%if (typeof error !='undefined' && error.passwordC != null ){%>
        <span><%= error.passwordC %></span><br>
    <%}%>
    <button type="submit" name="registro">Registrarse</button><br>
    <button type="submit" name="cancelar">Cancelar</button>
</form>