<!-- Formulario de registro -->
<form action="" method="POST">
    <label>Usuario</label>
    <input type="text" name="usuario" value="<%= typeof usuario != 'undefined' ? usuario : '' ;   %>">
    <%if (typeof errorPas !='undefined' ){%>
        <span><%= errorPas %></span><br>
    <%}%>
    <label>Descripcion</label>
    <input type="text" name="descripcion" value="<%= typeof descripcion != 'undefined' ? descripcion : '' ;   %>">
    <%if (typeof errorC !='undefined' ){%>
        <span><%= errorPas %></span><br>
    <%}%>
    <label>Contraseña</label>
    <input type="password" name="password" value="<%= %>">
    <%if (typeof errorPas !='undefined' ){%>
        <span><%= errorPas %></span><br>
    <%}%>
    <label>Confirmar Contraseña</label>
    <input type="password" name="passwordC">
    <%if (typeof errorPas2 !='undefined' ){%>
        <span><%= errorPas2 %></span><br>
    <%}%>
</form>